//* Colors *//

$darker: #393939;
$light: #888888;
$lighter: #fff;
$accent: #00c2ff;
$error: #db4437;

//* Sizes *//
// 1rem = 16px
$golden-ratio: 1.618;

$abstand-XS: 1rem * 0.25; // 4
$abstand-S: 1rem * 0.5; // 8
$abstand-M: 1rem; // 16
$abstand-L: 1rem * 2; // 32
$abstand-XL: 1rem * 4; // 64
$abstand-XXL: 1rem * 4.5; // 72

$app-bar-height: 1rem * 3.375; // 54
$icon-wrapper-width: 1rem * 3; // 48
$fab-size: 1rem * 3.5;

//* Font Sizes *//

$font-size-S: 1rem * 0.75; // 12
$font-size-M: 1rem; // 16
$font-size-L: 1rem * 1.25; // 20
$font-size-XL: 1rem * 1.5; // 24

// Der Zeilenabstand steht im goldenen Schnitt zur font-size
$font-line-height-S: $font-size-S * $golden-ratio;
$font-line-height-M: $font-size-M * $golden-ratio;
$font-line-height-L: $font-size-L * $golden-ratio;
$font-line-height-XL: $font-size-XL * $golden-ratio;

//* Font *//

@import url("https://fonts.googleapis.com/css?family=Montserrat:100,400,600&display=swap");

$font: "Montserrat", Helvetica, sans-serif;

$weight-light: 300;
$weight-regular: 400;
$weight-semibold: 600;
