//* Colors *//

$darker: #393939;
$light: #888;
$lighter: #fff;
$accent: #00c2ff;
$error: #db4437;

//* Sizes *//
// 1rem = 16px

$abstand-XS: 1rem * 0.25; // 4
$abstand-S: 1rem * 0.5; // 8
$abstand-M: 1rem; // 16
$abstand-L: 1rem * 2; // 32
$abstand-XL: 1rem * 4; // 64
$abstand-XXL: 1rem * 4.5; // 72

//* Font Sizes *//

$font-size-S: 1rem * 0.75;
$font-size-M: 1rem;
$font-size-L: 1rem * 1.5;

// Der Zeilenabstand steht im goldenen Schnitt zur font-size
$font-line-height-S: $font-size-S * 1.618;
$font-line-height-M: $font-size-M * 1.618;
$font-line-height-L: $font-size-L * 1.618;

//* Font *//

@import url("https://fonts.googleapis.com/css?family=Montserrat:100,400,600&display=swap");

$font: "Montserrat", Helvetica, sans-serif;

$regular: 400;
$semibold: 600;
