html {
  background: $darker;
  font-family: $font;
  font-weight: $weight-semibold;
}

input {
  outline: none;
  background: none;
  text-decoration: none;
  border: none;
  border-radius: 0;
  font-family: $font;
  font-weight: $weight-regular;
  font-size: $font-size-M;
}

input:active {
  background-color: transparent;
}
