html {
  background: $darker;
  font-family: $font;
  font-weight: $semibold;
}

input {
  background: none;
  border: none;
  font-family: $font;
  font-weight: $regular;
  font-size: $font-size-M;
}
