.headline {
  font-size: $font-size-L;
  line-height: $font-line-height-L;
  color: $lighter;
}

.painting-title {
  font-size: $font-size-M;
}

.text {
  font-size: $font-size-M;
  line-height: $font-line-height-M;
  font-weight: $regular;
  color: $lighter;
}

.button-text {
  font-size: $font-size-M;
  font-weight: $regular;
  color: $accent;
}

.hint-text {
  font-size: $font-size-M;
  font-weight: $regular;
  color: $light;
}

.error-text {
  font-size: $font-size-S;
  font-weight: $regular;
  color: $error;
}

.description-text {
  font-size: $font-size-S;
  font-weight: $regular;
  color: $lighter;
}
