html {
  background: $darker;
  font-family: $font;
}

input {
  outline: none;
  background: none;
  text-decoration: none;
  border: none;
  border-radius: 0;
  font-family: $font;
  font-weight: $weight-regular;
  font-size: $font-size-M;
}

input:active {
  background-color: transparent;
}

.floating-action-button {
  z-index: 6;
  background: $accent;
  width: $fab-size;
  height: $fab-size;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  box-shadow: 0 14px 14px rgba(0, 0, 0, 0.237602), 0 0 14px rgba(0, 0, 0, 0.12);
}

.floating-action-button:active {
  background: $accentDark;
}
